.Logo{
    background-image: url("../../imagegs/react-log.png");
    background-size: cover;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}html{
    background-color: white;
    font:16px Arial;
}